/*
*	GENERAL
*/
html,
body {
	@apply font-sans text-base text-gray-900;
	scroll-behavior: smooth;
}
p a,
.content ul li a {
	@apply text-primary border-b border-primary transition;
}
p a:hover,
.content ul li a:hover  {
	@apply text-quaternary border-none;
}
p a:focus,
.content ul li a:focus {
	@apply text-green;
}
.button {
	@apply border-0;
}
.button.bg-white {
	@apply text-primary hover:text-white;
}
.button.bg-secondary {
	@apply text-white hover:text-white;
}
img,
svg {
	max-width: 100%;
	height: auto;
}
form br {
	@apply hidden;
}
.inputfile {
	@apply block w-full text-sm text-white file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-quaternary file:text-primary hover:file:bg-quaternary;
}
form p:empty {
	@apply hidden;
}
input[type="text"],
input[type="email"],
form textarea {
	@apply w-full max-w-sm px-4 py-2 rounded-lg focus:outline-none bg-green focus:ring focus:ring-primary;
}
form textarea {
	@apply max-w-full h-24;
	padding: .5rem 1rem !important;
	resize: none;
}
.wpcf7-response-output {
	padding: 1rem !important;
	@apply border-secondary rounded-lg text-lg;
}

/*
*	WP NAVIGATION
*/
.nav-wrap {
	background: #fff url('../img/aardwark-pink.svg') no-repeat bottom 50px right -150px;
	background-size: 300px 150px;
	transform: translateX(100%);
}
.nav-wrap.is-opened {
	transform: translateX(0%);
}
.nav-wrap.is-ready {
	transform: translateX(-100%);
}
.nav li,
.nav li a {
	@apply flex lg:inline-flex w-full lg:w-auto px-2 py-2 lg:py-4 lg:py-0 text-tertiary text-xl lg:text-base;
}
.nav li a:hover {
	@apply text-quaternary;
}

li.sub-menu-service a {
	@apply pr-4 mr-2;
	background: url('../img/arrow-full-right-medium.svg') no-repeat center right;
	background-size: 30px;
}
li.sub-menu-service:hover a,
li.sub-menu-service a.is-active {
	@apply text-secondary;
}
.sub-nav-services {
	background: #fff url('../img/aardwark-pink.svg') no-repeat bottom 50px left -150px;
	background-size: 300px 150px;
	transform: translateX(200%);
}
.sub-nav-services.is-ready {
	transform: translateX(100%);
}
.sub-nav-services.is-opened {
	transform: translateX(0%);
}

@screen lg {
	.nav-wrap,
	.sub-nav-services {
		background: 0;
		transform: translateX(0%);
	}
	li.sub-menu-service a {
		background: url('../img/arrow-down-dark.svg') no-repeat center right;
	}
	li.sub-menu-service:hover a,
	li.sub-menu-service a.is-active {
		background: url('../img/arrow-down-light.svg') no-repeat center right;
	}
	.sub-nav-services.is-active {
		@apply lg:z-10 lg:opacity-100 lg:translate-y-0;
	}
	.sub-nav-services.is-hidden {
		@apply lg:hidden;
	}
}

/*
*	MOBILE NAVIGATION
*/
.hamburger__bar {
	stroke-width: 10%;
	transition-property: transform;
	transition-duration: 0.3s;
	transform-origin: center;
}
.hamburger__bar--top {
	transform: translateY(-30%);
}
.hamburger__bar--bottom {
	transform: translateY(30%);
}
.is-opened .hamburger__bar--top {
	transform: rotate(45deg);
}
.is-opened .hamburger__bar--middle {
	transform: rotate(-45deg);
}
.is-opened .hamburger__bar--bottom {
	transform: scaleX(0.01);
}

/*
*	LANG TOGGLER
*/
.js-langs-wrap a {
	transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1.0);
	transform: translateY(0px);
}
.js-langs-wrap.is-opened a:first-child {
	transform: translateY(50px);
}
.js-langs-wrap.is-opened a:nth-child(2) {
	transition-duration: 300ms;
	transform: translateY(100px);
}
.js-langs-wrap.is-opened a:nth-child(3) {
	transition-duration: 450ms;
	transform: translateY(150px);
}

/*
*	CAROUSEL & LIGHTBOX & POPUP
*/
#lg-counter,
#lg-download {
	display: none !important;
}
.glide__slide img {
	margin: 0 auto 1rem;
}
@screen lg {
	.glide__slide p {
		margin: 1rem 1.5rem 0;
	}
}
.popup {
	animation: popup 500ms forwards;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes popup {
	0% {
		opacity: 0;
		transform: translateX(30px) translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0) translateX(0);
	}
}
input:placeholder-shown,
textarea:placeholder-shown {
    @apply bg-quaternary;
}

/*
*	COMPONENTS
*/
.components .component:first-child .component-wrap {
	padding-top: 0 !important;
	border-top: 0 !important;
}
.component.has-bg + .component.no-bg .component-wrap {
	border-top: 0 !important;
	padding-top: 0 !important;
}
.component.has-bg + .component.has-bg {
	margin-top: 0 !important;
}
.component.has-bg + .component.has-bg .bg-arrow {
	padding-top: 0 !important;
}
.component.has-bg + .component.has-bg .bg-arrow:after {
	display: none !important;
}
.component-plain_text.no-bg:first-child {
	margin-top: 0 !important;
	padding-top: 3rem !important;
}
@screen lg {
	.component.has-bg + .component.no-bg .component-wrap {
		padding-top: 2rem !important;
	}
	.component-plain_text.no-bg:first-child {
		padding-top: 4rem !important;
	}
}


/*
*	CONTENT
*/
#detail .content h1,
#detail .content h2,
#detail .content h3,
#detail .content h4 {
	@apply text-primary;
}

.content h1,
.content h2,
.content h3,
.content h4 {
	@apply mb-4;
}
.content h1 {
	@apply text-3xl lg:text-6xl;
}
.content h2 {
	@apply text-2xl lg:text-4xl;
}
.content h3 {
	@apply text-xl lg:text-3xl;
}
.content h4 {
	@apply text-lg lg:text-2xl;
}
.content p,
.content ul,
.content ol {
	@apply mb-4 lg:mb-8;
}
.content ul li {
	@apply relative mb-2 pl-8 before:absolute before:left-0 before:top-2 before:w-2 before:h-2 before:bg-primary before:rounded-full;
}
.content *:last-child {
	@apply mb-0 lg:mb-0;
}
.content.text-center img {
	@apply mx-auto;
}
.content hr {
	@apply mb-8 border-dotted border-gray-400;
}
.button + .button {
	@apply sm:ml-2 md:ml-0 xl:ml-2 mt-4 sm:mt-0 md:mt-4 xl:mt-0;
}
@screen lg {
	.content ul {
		@apply text-lg;
	}
}

/*
*	ACCORDION
*/
.accordion-content {
	max-height: 0;
}
.accordion-content.is-opened {
	max-height: 1000px;
}
.accordion-link.is-active {
	@apply bg-quaternary bg-opacity-10;
}

/*
*	FOOTER NAVIGATION
*/
.footer-menu li {
	@apply my-1;
}
.footer-menu li a {
	@apply inline-flex py-1;
}
.footer-menu li a:hover {
	@apply text-quaternary;
}
.footer-menu li a:focus {
	@apply text-green;
}

.copy-nav li {
	@apply py-1;
}
.copy-nav li a {
	@apply text-secondary;
}
.copy-nav li a:hover {
	@apply text-quaternary;
}
.copy-nav li a:focus {
	@apply text-green;
}
@screen lg {
	.copy-nav {
		@apply flex items-center pt-3;
	}
	.copy-nav li {
		@apply py-0 pl-2 border-l border-secondary ml-2;
	}
	.copy-nav li:first-child {
		@apply pl-0 ml-0 border-none;
	}
}

/*
*	PRELOADER
*/
.preloader {
	animation-name: preloader;
	animation-duration: 500ms;
	animation-delay: 300ms;
	animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	animation-fill-mode: forwards;
}
@keyframes preloader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -50;
	}
}

/*
*	COOKIES
*/
.cookies {
	bottom: 40px;
	left: 40px;
	z-index: 999;
	max-width: 300px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transform: translateX(-400px);
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	/* Firefox 4 */
	-webkit-transition: all 0.3s;
	/* Safari and Chrome */
	-o-transition: all 0.3s;
	/* Opera */
}

.cookies.opened {
	transform: translateX(0);
}